#footer {
  /* background-image: url("bandeau-degrade.png"); */
  height: 120px;
  color: white;
  border : white;
  flex-shrink: 0;
  left: 0;
  bottom: 0;
  position: relative;
  margin-top: 100px;
  width: 100vw;
  display: block;
  overflow: hidden;
}

#content {
  margin: 0;
  margin-top: 50px;
  text-align: center;
}

button {
  align-items: center;
  margin: auto;
  margin-top: 50px;
  display: block;
}

#recapitulatif {
  margin: 0;
  margin-top: 50px;
  text-align: center;
  list-style-type: none;
}



