<app-header></app-header>
<div id="content" #content>
  Récapitulatif de vos choix :

  <ul id="recapitulatif">
    <li>Nombre de collaborateurs : </li>
    <li>Type d'entité : </li>
    <li>Vos coordonnées</li>
  </ul>

</div>
<button (click)="generatePDF()" center>Télécharger le resumé en PDF</button>
<app-footer></app-footer>