<footer class="container-fluid footer" id="footer">
    <div class="row col-12">
        <div fxFlex="50%">
            <div>Takagreen</div>
            <div>60 Rue Lucette et René Desgrand</div>
            <div>69100 Villeurbanne</div>
            <br>

            0478840102

        </div>
        <div fxFlex="50%">
            <p>Politique de confidentialité</p>
            <br>

            <p>©Takagreen ®2018. Tous droits réservés.</p>
        </div>
    </div>

</footer>