#footer {
    background-image: url("/assets/dégradé.png");
    height: 120px;
    color: white;
    border : white;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    margin-top: 100px;
    width: 100%;
    display: block;
    overflow: hidden;  
    background-repeat: no-repeat;
}