<form (ngSubmit)="addForm()">
    {{form2|json}}
    <mat-horizontal-stepper [linear]="isLinear" #stepper class="container-fluid m-0 p-O" id="formangular"
        style="border: solid 10px;border-color: #00b7a3;min-height: 425px">

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" class="col-12">
                <!--  <ng-template matStepLabel>ÊTES-VOUS* ?</ng-template> -->
                <div class="text-center">NOMBRE DE COLLABORATEURS* ?</div>
                <!-- <button class="btn btn-light btn-lg active" role="button" aria-pressed="false" data-toggle="button">Primary
                link</button>
            <button class="btn btn-light btn-lg active" role="button" aria-pressed="false" data-toggle="button">Primary
                link</button> -->
                <!-- <mat-button-toggle value="100" id="cent" for="Collaborateur" name="test"
                    [ngClass]="{selected: selected === '100'}" (click)="selected = '100'"
                    [(ngModel)]="form2.Collaborateur" [ngModelOptions]="{standalone: true}" ngDefaultControl>MOINS DE
                    100</mat-button-toggle> -->
                <!-- <button [ngClass]="{selected: selected === 'rep1'}" (click)="selected = 'rep1'" value="100"
                    for="Collaborateur" [(ngModel)]="form2.Collaborateur" [ngModelOptions]="{standalone: true}"
                    ngDefaultControl>Réponse
                    1</button> -->
                <!-- 
                <mat-button-toggle value="100" id="cent" for="Collaborateur" [(ngModel)]="form2.Collaborateur">MOINS DE
                    100</mat-button-toggle> -->
                <br>
                <!-- <mat-button-toggle value="250" id="deux" for="Collaborateur" name="test" value="test"
                    [(ngModel)]="form2.Collaborateur" [ngModelOptions]="{standalone: true}" ngDefaultControl>ENTRE 100
                    ET 250</mat-button-toggle>
                <br>
                <mat-button-toggle value="500" id="cinq" for="Collaborateur" name="test" value="test"
                    [(ngModel)]="form2.Collaborateur" [ngModelOptions]="{standalone: true}" ngDefaultControl>ENTRE 250
                    ET 500</mat-button-toggle>
                <br>
                <mat-button-toggle value="501" id="pluscinq" for="Collaborateur" name="test" value="test"
                    [(ngModel)]="form2.Collaborateur" [ngModelOptions]="{standalone: true}" ngDefaultControl>PLUS
                    DE 500</mat-button-toggle> -->
                <button mat-raised-button [color]="form2.Collaborateur == '99' ? 'primary':'accent'"
                    (click)="form2.Collaborateur = '99'">MOINS
                    DE 100</button>
                <button mat-raised-button [color]="form2.Collaborateur == '100' ? 'primary':'accent'"
                    (click)="form2.Collaborateur = '100'">ENTRE 100
                    ET 250</button>
                <button mat-raised-button [color]="form2.Collaborateur == '250' ? 'primary':'accent'"
                    (click)="form2.Collaborateur = '250'">ENTRE 250
                    ET 500</button>
                <button mat-raised-button [color]="form2.Collaborateur == '501' ? 'primary':'accent'"
                    (click)="form2.Collaborateur = '501'">PLUS
                    DE 500</button>
                <!-- <button [ngClass]="{selected: form2.Collaborateur == '100'}" (click)="form2.Collaborateur = '100'">ENTRE
                    100 ET 250</button>
                <button [ngClass]="{selected: form2.Collaborateur == '250'}" (click)="form2.Collaborateur = '250'">ENTRE
                    250 ET 500</button>
                <button [ngClass]="{selected: form2.Collaborateur == '501'}" (click)="form2.Collaborateur = '501'">Plus
                    de 500</button> -->
                <div>
                    <!-- <label for="inputPassword4">test</label>
                    <input type="button" class="form-control" id="inputPassword4" for="Collaborateur"
                        placeholder="Collaborateur" [(ngModel)]="form2.Collaborateur"> -->

                    <button mat-button matStepperNext
                        style="display: block;margin:auto;width: 100px;background-color: rebeccapurple;margin-top: 20px;">SUIVANT</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <!-- <ng-template matStepLabel>QUEL EST VOTRE SYSTÈME DE CHAUFFAGE ACTUEL* ?</ng-template> 
            Padding à viré pour responsive, padding à droit laisse trop de 'blanc'
            -->
                <div class="text-center">TYPE D'ENTITÉ* ?</div>
                <!-- <mat-button-toggle value="ENTREPRISE" id="entreprise" for="entitytype" name="test" value="test"
                    [(ngModel)]="form2.entitytype" [ngModelOptions]="{standalone: true}" ngDefaultControl>
                    ENTREPRISE</mat-button-toggle>
                <button [ngClass]="{selected: form2.entitytype == 'entreprise'}" (click)="form2.Collaborateur === '501'"
                    [(ngModel)]="form2.entitytype">Plus de 500</button>
                <mat-button-toggle value="COLLECTIVITÉ" id="collectivite" for="entitytype" name="test" value="test"
                    [(ngModel)]="form2.entitytype" [ngModelOptions]="{standalone: true}" ngDefaultControl>COLLECTIVITÉ
                </mat-button-toggle>
                <mat-button-toggle value="AUTRE" id="autre" for="entitytype" name="test" value="test"
                    [(ngModel)]="form2.entitytype" [ngModelOptions]="{standalone: true}" ngDefaultControl>AUTRE
                </mat-button-toggle> -->
                <button [ngClass]="{selected: form2.entitytype == '99'}" (click)="form2.entitytype = 'entreprise'">MOINS
                    DE 100</button>
                <button [ngClass]="{selected: form2.entitytype == '100'}"
                    (click)="form2.entitytype = 'collectivite'">ENTRE
                    100 ET 250</button>
                <button [ngClass]="{selected: form2.entitytype == '250'}" (click)="form2.entitytype = 'autre'">ENTRE
                    250 ET 500</button>
                <div style="display: flex;">
                    <button mat-button matStepperPrevious
                        style="display: block;margin:auto;width: 100px;background-color: rebeccapurple;margin-top: 20px;">RETOUR</button>
                    <button mat-button matStepperNext style=" display: block;margin:auto;width: 100px;background-color: rebeccapurple;margin-top:
                    20px;">SUIVANT</button>

                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
            <form [formGroup]="fourthFormGroup" class="m-0 p-0">
                <!-- <ng-template matStepLabel>VOS COORDONNÉES :</ng-template> -->
                <input matInput placeholder="Nom* " value="" for="nom" [(ngModel)]="form2.nom"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <input matInput placeholder="Société* " value="" for="societe" [(ngModel)]="form2.societe"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <input matInput placeholder="Téléphone* " value="" for="telephone" [(ngModel)]="form2.telephone"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <input matInput placeholder="Email* " value="" for="email" [(ngModel)]="form2.email"
                    [ngModelOptions]="{standalone: true}" ngDefaultControl>
                <div>
                    <button
                        style="display: block;margin:auto;width: 310px;background-color: rebeccapurple;margin-top: 20px;"
                        (click)="addForm()">J'OBTIENS
                        MON DEVIS GRATUIT</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <!-- <ng-template matStepLabel>Done</ng-template> -->
            <p class="text-center"> Merci, votre demande à bien été prise en compte. </p>
            <br>
            <p class="text-center">Un conseiller va vous contacter, gratuitement et sans engagement, dans moins de 48h
                pour
                <br>
                vous apporter des renseignements personnalisés.
            </p>

            <p class="text-center"> Nous vous souhaitons une bonne journée ! </p>
            <!-- <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div> -->



        </mat-step>
        <button>send</button>
    </mat-horizontal-stepper>
</form>
`