@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    border: green 2px;
}

#proprietaire, #locataire, #gaz, #fuel, #k1, #k2 {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#formangular {
    border-color: green;
    width: 400px;
}

#cent, #deux, #cinq, #pluscinq, #entreprise, #collectivite, #autre {
    width: 280px;

}

button:active {
    background-color: red;
}

.text-center {
    color: #041738;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    height: 30px;
    width: 150px;
    /* margin-right: 10px; */
    margin-bottom: 20px;
}


.mat-button {
    color: white;
}

.mat-button:hover {
    background-color : #b5f7cb!important;
    color: #35006b;
    transition: ease;
    -webkit-transition: all .1s linear;
} 

.mat-button-toggle {
    font-size: 16px;
}



