<div id="header">
  <img src="/assets/logo_long_bannière.png" id="imgheader">
</div>

<!-- les deux parties dans une seul row , et dans les col-6 là je peux mettre des autres rows
voir des tuto bootstrap à la limite?
Ou j'ai bugué mais genre une row , et dedans je determine deux row avec col-6 chacun?

LUNDI 3 FEVRIER 9:20 = 
Du coup j'ai test avec une row , et mettre deux rows dedans (parti gauche & droite), et dire que chaque row fait un col-6 et ça a
l'air de marché , reste à faire : 
- Le responsive du Form , il ne marche toujours pas je dois réellement voir c'est dû à quoi , si c'est angular material ou juste moi
- Faire le responsive global , pour l'instant c'est responsive sans l'être , les deux prennent bien deux parti mais sur du 100px de 
large ça ressemble à rien , donc faire les lg/xs/etc en col.

UPDATE 03/ 11AM
Du coup j'ai appris que le Form Material fonctionne pas avec Bootstrap d'après ce que j'ai pu lire & voir surtout
il y a quelque chose que je comprend pas non plus , c'est que sur la page du component du form "/test" il est responsive 
mais quand je le met sur cette page ici il part en n'importe

-->


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<!-- <div class="col-6 col-md-4">.col-6 .col-md-4</div> -->
<div class="container-fluid p-0 m-0" id="main-part">
  <div class="row col-12  p-0 m-0">
    <div class="row col-7" id="row6-1">
      <div class="col-lg-12 m-0 p-0">
        <div class="row m-0 p-0">
          <div class="col-12" id="left-text">
            BILAN CARBONE® - BILAN GES
          </div>
          <div class="col-12" id="left-text-2">
            Réaliser un Bilan Carbone® de votre activité
            <br>
            permet d’évaluer vos émissions directes ou
            <br>
            indirectes de Gaz à Effet de Serre (GES) et
            <br>
            d’ainsi déterminer tous les gisements d’économie réalisables.
          </div>

          <div class="col-6 col-md-2" id="left-list">
            <ul class="col-12" id="list">
              <div class="list">
                <fa-icon [icon]="faCheckCircle" class="p-0 m-0"></fa-icon>
                Identifier des sources d’économie
              </div>
              <div class="list">
                <fa-icon [icon]="faCheckCircle" class="p-0 m-0"></fa-icon>
                Mettre en place un plan d’action
              </div>
              <div class="list">
                <fa-icon [icon]="faCheckCircle" class="p-0 m-0"></fa-icon>
                Diminuer son empreinte carbone
              </div>
              <div class="list">
                <fa-icon [icon]="faCheckCircle" class="p-0 m-0"></fa-icon>
                Valoriser l’image de sa structure
              </div>

            </ul>
          </div>
        </div>
        <div class="col-12 col-md-10" id="last-text" style="margin-top: 20px;">
          La réalisation du bilan d’émissions de Gaz à effet de serre

          (GES) est obligatoire pour les entreprises employant plus

          de 500 personnes pour la France métropolitaine ou plus

          de 250 personnes pour les régions et départements

          d’outre mer.
        </div>
      </div>
    </div>

    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <!-- <div class="col-6 col-md-4">.col-6 .col-md-4</div> -->
    <div (ngSubmit)="addForm()" class="row col-6 col-md-4" id="formangular">
      <app-angularmaterial-form></app-angularmaterial-form>
    </div>
  </div>
</div>


<footer class="container-fluid footer" id="footer">
  <div class="row col-12" id="desc-footer">
    <div fxFlex="50%">
      <div>Takagreen</div>
      <div>60 Rue Lucette et René Desgrand</div>
      <div>69100 Villeurbanne</div>
      <br>

      0478840102‬

    </div>
    <div fxFlex="50%">
      <p>Politique de confidentialité</p>
      <br>

      <p>©takagreen ®2018. Tous droits réservés.</p>
    </div>
  </div>

</footer>