#imgheader {
    height: 85px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    /* background-image: url("logo_long_bannière.png"); */
}

#main-part {
    margin-top: 100px;
}

#left-text {
    color: #35006b;
    font-size: 30px;
    font-weight: bolder;   
}

#left-text-2 {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 500;
    color: #0194a7;
    line-height: 24px;
}

#list {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #232323;
    line-height: 20px;
}

.list {
    width: 300px;
}

#left-list {
    margin-top: 15px;
    margin-left: 0px;
    font-size: 13px;
}

#footer {
    background-image: url("dégradé.png");
    height: 120px;
    color: white;
    border : white;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    position: relative;
    margin-top: 120px;
    width: 100vw;
    display: block;
    overflow: hidden;
}

#form {
    /* display: grid; */

    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 275px;
    border-color: #29BA58;
    border-style: solid;
    border-width: 8px;
}

#inputs {
    display: grid;
    margin-bottom: 20px;
    height: 35px;
}

#proprietaire {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#locataire {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

#next {
    width: 100px;
    margin: auto;
}

#question-1 {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
}

#right-form {
 /*   margin-left: auto;
    margin-right: auto; */
    margin: auto;
    height: 400px;
    width: auto;
    border-color: #29BA58;
    border-style: solid;
    border-width: 8px;
    min-height: 400px;
}

#displayform {
  display: grid;
  width: 200px;
}

#formangular {
    border-color: green;
    border-radius: 2px;
}

/* #formangular2 {
    border: solid;
    border-radius: 2px;
    border-color: rebeccapurple;
} */

#last-text {
    color: #35006b;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 5px; 
}

fa-icon {
    color: #0194a7;
}

#row6-1 {
    margin-left: 50px;
}

#desc-footer {
margin-left: 50px;
}


@media screen and (max-width: 576px) {
      .list {
          margin-bottom: 15px;
          width: 250px;
          
      }

      #last-text {
          margin-bottom: 15px;
          min-width: 250px;
          font-weight: 500;

    }

    #row6-1 {
    margin-left: 50px;
    } 

    #left-text , #left-text-2 {
    min-width: 275px;
   }   

   #imgheader {
       margin-top: 30px;
   }

   #desc-footer {
margin-left: 0px;
}
  }






