<div id="header">
    <img src="logo-SoluVerte-haut-blanc.png" id="imgheader">
</div>

<!-- les deux parties dans une seul row , et dans les col-6 là je peux mettre des autres rows
voir des tuto bootstrap à la limite?
Ou j'ai bugué mais genre une row , et dedans je determine deux row avec col-6 chacun?

LUNDI 3 FEVRIER 9:20 = 
Du coup j'ai test avec une row , et mettre deux rows dedans (parti gauche & droite), et dire que chaque row fait un col-6 et ça a
l'air de marché , reste à faire : 
- Le responsive du Form , il ne marche toujours pas je dois réellement voir c'est dû à quoi , si c'est angular material ou juste moi
- Faire le responsive global , pour l'instant c'est responsive sans l'être , les deux prennent bien deux parti mais sur du 100px de 
large ça ressemble à rien , donc faire les lg/xs/etc en col.

UPDATE 03/ 11AM
Du coup j'ai appris que le Form Material fonctionne pas avec Bootstrap d'après ce que j'ai pu lire & voir surtout
il y a quelque chose que je comprend pas non plus , c'est que sur la page du component du form "/test" il est responsive 
mais quand je le met sur cette page ici il part en n'importe

-->

<div class="container-fluid p-0 m-0" id="main-part">
    <div class="row col-12 p-0 m-0">
        <div class="row col-6 p-0 m-0" id="row6-1">1
            <div class="col-xs-12 col-lg-6 m-0 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12" id="left-text">
                        PROPRIÉTAIRES, DIMINUEZ
                        <br>
                        JUSQU'À 70% VOS FACTURES
                        <br>
                        DE CHAUFFAGE
                    </div>
                    <div class="col-12" id="left-text-2">
                        Bénéficiez de 5 000 à 10 000€
                        <br>
                        d'aides de l'état pour l'installation
                        <br>
                        d'une pompe à chaleur !
                    </div>

                    <div class="col-6" id="left-list">
                        <!-- <i class="fas fa-check-circle">test</i> -->
                        <ul>
                            <li>Jusqu'à 10 000€ d'aides</li>
                            <li>Chauffage l'hiver et climatisation l'été</li>
                            <li>Source d'énergie propre et écologique</li>
                            <li>Diminuez jusqu'à 70% votre facture de chauffage</li>
                            <li>Intégration facile au système de chauffage existant</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="row col-6">
            <app-angularmaterial-form></app-angularmaterial-form>
        </div>
    </div>
</div>


<footer class="container-fluid footer" id="footer">
    <div class="row col-12">
        <div fxFlex="50%">
            <div>Soluverte</div>
            <div>60 Rue Lucette et René Desgrand</div>
            <div>69100 Villeurbanne</div>
            <br>

            0478840102

        </div>
        <div fxFlex="50%">
            <p>Politique de confidentialité</p>
            <br>

            <p>©enovia ®2018. Tous droits réservés.</p>
        </div>
    </div>

</footer>