#remerciement {
  margin: 0;
  margin-top: 50px;
  text-align: center;
  list-style-type: none;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    color: #0F2450;
    margin-top: 100px;
}

h4 {
    font-size: 12px;
    color: #0F2450;
}

