<app-header></app-header>


<div id="content">
    <div id="remerciement">
        <h3>Merci, votre demande a bien été prise en compte.</h3>
        <h4>
            <br>
            Nous vous contacterons dans moins de 48h pour vous apporter
            <br>
            des renseignements personnalisés.
            <br>
            <br>
            nous vous souhaitons une bonne journée !
        </h4>

        <a routerLink="/" routerLinkActive="active">Retourner à la page d'acceuil</a>
    </div>
</div>

<app-footer></app-footer>

<script>
    let variable = 'yes';
    for (i = 0; i < yes.length; i++) {
        console.log(variable);
    }                               
</script>