/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}


